body {
    font-family: Arial, sans-serif;
    background-image: url('image.jpg'); /* Replace 'background.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
  }
  
  .container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8); /* Add a background color with some opacity */
  }
  
  
  h2 {
    text-align: center;
  }
  
  input[type="text"],
  input[type="date"] {
    width: calc(100% - 22px); /* Adjust width to fit container with the button */
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    width: 100%;
    padding: 10px 20px;
    background-color: palevioletred;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: palevioletred;
  }
  
  .task {
    list-style-type: none;
    margin-bottom: 5px;
  }
  
  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }